x-podman:
  in_pod: false

services:
  node-red:
    image: ghcr.io/node-red/node-red:latest
    container_name: nodered
    hostname: nodred
    restart: on-failure:3
    read_only: true
    mem_limit: 1024m
    user: 1000:1000
    userns_mode: keep-id
    env_file: .env
    volumes:
      - ./data:/data:Z
    labels:
      caddy: http://nodered.mydomain.lan, nodered.mydomain.com
      caddy.reverse_proxy: "{{ upstreams 1880 }}"
      caddy.header: "-X-Frame-Options"
      caddy.log:
      caddy.sablier.session_duration: 30m
      caddy.sablier.names: nodered
      caddy.sablier.dynamic:
      sablier.enable: true
      com.centurylinklabs.watchtower.enable: true
    healthcheck:
      test: node /healthcheck.js
      interval: 10s
      timeout: 10s
      retries: 1
      start_interval: 2s
      start_period: 10s
    networks:
      - proxy

networks:
  proxy:
    external: true
    name: proxy