x-podman:
  in_pod: false

services:
  glance:
    image: docker.io/glanceapp/glance:latest
    container_name: glance
    hostname: glance
    restart: on-failure:3
    read_only: true
    mem_limit: 250m
    security_opt:
      - label:disable
    volumes:
      - ./data:/app/config:Z
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:ro,z
      - /mnt/data:/mnt/data:ro
    labels:
      caddy: http://example.lan, example.com
      caddy.reverse_proxy: "{{ upstreams 8080 }}"
      caddy.header: "-X-Frame-Options"
      caddy.log:
      caddy.sablier.session_duration: 30m
      caddy.sablier.names: glance
      caddy.sablier.dynamic:
      sablier.enable: true
      com.centurylinklabs.watchtower.enable: true
    healthcheck:
      test: wget --spider -q --no-cache http://localhost:8080/api/healthz || exit 1
      interval: 2m30s
      timeout: 10s
      retries: 1
      start_interval: 3s
      start_period: 6s
    networks:
      - proxy

networks:
  proxy:
    external: true
    name: proxy