[Unit]
Description=Filen
Requires=podman.socket
After=podman.socket
StartLimitIntervalSec=1m
StartLimitBurst=4

[Service]
ExecStartPre=-/usr/bin/mkdir -p %h/.config/containers/%p
Restart=no
Type=oneshot

[Container]
Image=docker.io/filen/cli:latest
AutoUpdate=registry

ContainerName=%p
HostName=%p

Exec=sync

Volume=%h/.config/containers/%p/.filen-cli-auth-config:/root/.config/filen-cli/.filen-cli-auth-config:ro,z
Volume=%h/.config/containers/%p/sync.json:/root/.config/filen-cli/syncPairs.json:ro,Z

Volume=%h/.config/systemd/user:/mnt/utilities:z

Volume=%h/.config/containers/caddy:/mnt/caddy:z
Volume=%h/.config/containers/filen:/mnt/filen:z
Volume=%h/.config/containers/glance:/mnt/glance:z
Volume=%h/.config/containers/gluetun:/mnt/gluetun:z
Volume=%h/.config/containers/gotosocial:/mnt/gotosocial:z
Volume=%h/.config/containers/home:/mnt/home:z
Volume=%h/.config/containers/jellyfin:/mnt/jellyfin:z
Volume=%h/.config/containers/mazanoke:/mnt/mazanoke:z
Volume=%h/.config/containers/miniflux:/mnt/miniflux:z
Volume=%h/.config/containers/nocodb:/mnt/nocodb:z
Volume=%h/.config/containers/node-red:/mnt/node-red:z
Volume=%h/.config/containers/ollama:/mnt/ollama:z
Volume=%h/.config/containers/paperless:/mnt/paperless:z
Volume=%h/.config/containers/photoprism:/mnt/photoprism:z
Volume=%h/.config/containers/pihole:/mnt/pihole:z
Volume=%h/.config/containers/sablier:/mnt/sablier:z
Volume=%h/.config/containers/samba:/mnt/samba:z
Volume=%h/.config/containers/shiori:/mnt/shiori:z
Volume=%h/.config/containers/systemd:/mnt/systemd:z
Volume=%h/.config/containers/warrior:/mnt/warrior:z
Volume=%h/.config/containers/watchtower:/mnt/watchtower:z
Volume=%h/.config/containers/web:/mnt/web:z
Volume=%h/.config/containers/wireguard:/mnt/wireguard:z
Volume=%h/.config/containers/wolf:/mnt/wolf:z

PodmanArgs=--memory 16384m